@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    color: #2e2e2e;
    font-family: 'Inter', sans-serif;
    font-size: large;
}

.title-font {
    font-family: 'Archivo Black', sans-serif;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}